body{
    background-color: #F4F6F1;
}

#texte-promo h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#texte-promo p {
    font-size: 1.5rem;
    margin: 10px 0 0;
}

.PC{
    width: 30%;
    position: relative;
    left: 400px;
}

.Souris{
    width: 13%;
    position: absolute;
    top: 150px;
    left: 310px;
}

.Casque{
    width: 30%;
    position:absolute;
    right: 250px;
    bottom: 70px;
}

.Clavier{
    width: 35%;
    position:absolute;
    right: 280px;
    top: 50px;
}

.produit1{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;
    padding: 15px 10px 0px 10px;
}

.produit2{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;

}

.produit3{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;
}

.produit4{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;
}

.produit5{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;
}

.produit6{
    background-color: #477590;
    border-radius: 5px;
    height: 150px;
    width: 600px;
    margin-right: 50px;
}

#composants{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-left: 100px;
}

.Carte-mere{
    filter: drop-shadow(5px 5px 5px #000);
    width: 100%;
}

.Processeur{
    filter: drop-shadow(5px 5px 5px #000);
    width: 65%;
    position: relative;
    bottom: 10px;
    left: 30px;
}

.Carte-graphique{
    filter: drop-shadow(5px 5px 5px #000);
    width: 100%;
    position: relative;
    top: 10px;
}

.Refroidissement{
    filter: drop-shadow(5px 5px 5px #000);
    width: 100%;
}

.Boîtier{
    filter: drop-shadow(5px 5px 5px #000);
    width: 75%;
    position: relative;
    left: 20px;
}

.RAM{
    filter: drop-shadow(5px 5px 5px #000);
    width: 73%;
    position: relative;
    left: 25px;
}

.titre{
    font-weight: 800;
    font-size: large;
    font-style:sans-sérif;
    margin: 50px 0px 25px 100px;
}
