<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEARBOX</title>
    <link rel="stylesheet" href="Apropos.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>


    </header>
    <section class="title">
        <h1 id="title_propos">A propos</h1>
    </section>
    <div class="container">
        <div class="text-section">
            <h2>Notre Historique</h2>
            <p>Le Lorem Ipsum est simplement du faux  <br>texte employé dans la composition  <br> et la mise en page avant impression...</p>
        </div>
        <div class="image-section">
            <img src="./images/PIC.jpg" alt="historique image">
        </div>
    </div>
    

</body>

</html>