<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/GearBox.css">
    <title>Catalogue</title>
</head>
<body>
    <section class="rightSide">
        <div class="setPrice">
            <label for="priceSlider">Prix :</label>
            <input name="priceSlider" type="range"></section>
            <p><span>0</span> MAD ~ <span> 5000</span> MAD</p>
        </div>
        <select>
            <option>type</option>
            <option>Stockage</option>
            <option>Processeur</option>
            <option>Carte Graphique</option>
            <option>Case</option>
            <option>RAM</option>
            <option>Carte Mére</option>
            <option>Alimentation</option>
            <option>Refroidissement</option>
        </select>
        <select>
            <option>Cpu Brand</option>
            <option>AMD</option>
            <option>INTEL</option>
        </select>
        <select>
            <option>Gpu Brand</option>
            <option>Nvidia</option>
            <option>AMD</option>
            <option>Intel ARC</option>
        </select>
        <select>
            <option>PSU Efficiency</option>
            <option>Nvidia</option>
            <option>AMD</option>
            <option>Intel ARC</option>
        </select>
    </section>
    <section class="leftSide">
        <div class="sortOptions">
            <p>Afficher: <span>9</span>/<span>12</span>/<span>16</span>/<span>24</span></p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M6 4.75A.75.75 0 0 1 6.75 4h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 4.75ZM6 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75A.75.75 0 0 1 6 10Zm0 5.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H6.75a.75.75 0 0 1-.75-.75ZM1.99 4.75a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1v-.01ZM1.99 15.25a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1v-.01ZM1.99 10a1 1 0 0 1 1-1H3a1 1 0 0 1 1 1v.01a1 1 0 0 1-1 1h-.01a1 1 0 0 1-1-1V10Z" clip-rule="evenodd" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 0 0 2 4.25v2.5A2.25 2.25 0 0 0 4.25 9h2.5A2.25 2.25 0 0 0 9 6.75v-2.5A2.25 2.25 0 0 0 6.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 2 13.25v2.5A2.25 2.25 0 0 0 4.25 18h2.5A2.25 2.25 0 0 0 9 15.75v-2.5A2.25 2.25 0 0 0 6.75 11h-2.5Zm9-9A2.25 2.25 0 0 0 11 4.25v2.5A2.25 2.25 0 0 0 13.25 9h2.5A2.25 2.25 0 0 0 18 6.75v-2.5A2.25 2.25 0 0 0 15.75 2h-2.5Zm0 9A2.25 2.25 0 0 0 11 13.25v2.5A2.25 2.25 0 0 0 13.25 18h2.5A2.25 2.25 0 0 0 18 15.75v-2.5A2.25 2.25 0 0 0 15.75 11h-2.5Z" clip-rule="evenodd" />
              </svg>
            <select>
                <option>Tri par notes moyennes</option>
                <option>Tri par tarif décroissant</option>
                <option>Tri par popularité</option>
            </select>                            
        </div>

    </section>

</body>
</html>