<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devis</title>
    <link rel="icon" href="../assets/media/Logo.png"/>
    <meta name="description" content="GearBox PC est un magasin en ligne spécialisé dans les composants PC de haute qualité, fournissant tout ce dont vous avez besoin pour construire, mettre à niveau et optimiser votre ordinateur.">
    <meta name="keywords" content="Pc Parts, Monitor, Gaming Pc">
    <meta name="author" content="CloudBlast">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/GearBox.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Sofia&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <center><h1>Devis</h1></center>
        <table>
            <tr>
                <th>Le produit</th>
                <th>Le Prix</th>
                <th>Qantité</th>
                <th>Total</th>
            </tr>
          <tbody id="tbd">
          
          </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">TVA</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td colspan="3">Total</td>
                    <td>480$</td>
                </tr>
            </tfoot>
        </table>
        <section class="produits-mobi">
            <div class="prduitname"></div>
            <div class="qantite-mobi"><p class="para1">Qantité :</p></div>
            <div class="qantite-mobi"><p class="para2">Prix :</p></div>
            <div class="qantite-mobi"><p class="para3">Total :</p></div>
        </section>
    </main>
        <center><button  class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
            id="download" onclick="funprint()">télécharger PDF</button></center>
    <script src="/assets/GearBox.js"></script>
</body>
</html>