<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="icon" href="../assets/media/Logo.png"/>
    <meta name="description" content="GearBox PC est un magasin en ligne spécialisé dans les composants PC de haute qualité, fournissant tout ce dont vous avez besoin pour construire, mettre à niveau et optimiser votre ordinateur.">
    <meta name="keywords" content="Pc Parts, Monitor, Gaming Pc">
    <meta name="author" content="CloudBlast">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="bg-white lg:px-32 shadow p-4 flex justify-between items-center sticky top-0 left-0 w-full z-50">
        <button class="text-2xl" onclick="toggleMenu()">&#9776;</button>
        <img src="../assets/media/Logo.png" alt="Logo" class="w-56 sm:w-48 md:w-64 lg:w-72 h-auto">
        <div class="relative flex items-center space-x-6">
            <!-- Cart Icon == Trigger -->
            <button id="cart-button" class="text-2xl text-white" title="Panier" onclick="toggleCart()">&#128722;</button>
            <button class="text-2xl text-white" title="Login">
                <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-3.33 0-10 1.68-10 5v3h20v-3c0-3.32-6.67-5-10-5z"/>
                </svg>
            </button>
            <!-- Cart Sidebar (right) -->
            <div id="CartBar" style="top:74px;" class="fixed right-0 w-96 h-screen overflow-y-auto bg-white shadow-lg p-4 z-50 transform translate-x-full transition-transform duration-300">
                <a href="Panier.html" class="text-lg font-semibold mb-4 border-b pb-2 hover:text-blue-800 cursor-pointer">Votre Panier</a>                                    
                <!-- Product List -->
                <div class="CartSidebarDiv space-y-4 mt-4"></div>
            </div>
        </div>
    </nav>

    <!-- Sidebar (left) -->
    <div id="MenuSidebar" class="fixed top-0 left-0 w-64 h-full bg-white shadow-lg p-4 z-50 transform -translate-x-full transition-transform duration-300">
        <div class="flex justify-between items-center">
            <h3 class="text-lg font-semibold">Menu</h3>
            <!-- Close Button -->
            <button onclick="toggleMenu()" class="text-base font-normal" title="Close">&#10005;</button>
        </div>
        <ul class="space-y-4 mt-8">
            <li><a href="../index.html" class="block text-gray-800 font-semibold hover:text-blue-800">Accueil</a></li>
            <hr>
            <li><a href="Catalogue.html" class="block text-gray-800 font-semibold hover:text-blue-800">Catalogue</a></li>
            <hr>
            <li class="group relative">
                <a href="#" class="block text-gray-800 hover:text-blue-800">Carte mère</a>
            </li>
            <hr>            
            <li class="group relative">
                <a href="#" class="block text-gray-800 hover:text-blue-800">Processeur</a>
            </li>
            <hr>
            <li class="group relative">
                <a href="#" class="block text-gray-800 hover:text-blue-800">Carte graphique</a>
            </li>
            <hr>
            <li><a href="#" class="block text-gray-800 hover:text-blue-800">RAM</a></li>
            <hr>
            <li><a href="#" class="block text-gray-800 hover:text-blue-800">Refroidissement</a></li>
            <hr>
            <li><a href="#" class="block text-gray-800 hover:text-blue-800">Boîtier</a></li>
            <hr>
            <li><a href="APropos.html" class="block text-gray-800 font-semibold hover:text-blue-800">A propos</a></li>
        </ul>
    </div>
    <!-- EndOfNavbar -->

    <!-- Main Content -->
    <main class="max-w-7xl mx-auto p-4 md:p-8">
        <h1 class="text-3xl font-semibold text-center mb-10">Revue de Panier</h1>

        <div class="flex flex-col lg:flex-row lg:space-x-8">
            <!-- Order Section -->
            <section class="mb-10 lg:w-2/3">
                <h2 class="text-lg font-semibold mb-6">Votre commande</h2>
            
                <!-- Section pour afficher les produits -->
                <div id="cartItemsContainer">
                    <!-- Les produits seront ajoutés ici dynamiquement -->
                </div>
            </section>
            
            <!-- Summary Section -->
            <div class="lg:w-1/3">
                <h2 class="text-lg font-semibold mb-4 text-center lg:text-left">Résumé</h2>
                <aside class="bg-white rounded-lg shadow-lg p-6 h-64 overflow-y-auto">
                    <div class="flex justify-between items-center mb-4">
                        <span class="text-gray-700">Sous-total</span>
                        <span id="subtotal" class="text-gray-700">0.00 MAD</span>
                    </div>
                    <div class="flex justify-between items-center mb-4">
                        <span class="text-gray-700">Frais de livraison</span>
                        <span id="shippingCost" class="text-gray-700">21.30 MAD</span>
                    </div>
                    <div class="flex justify-between items-center font-semibold text-lg mb-8">
                        <span>Total estimé</span>
                        <span id="totalEstimated">0.00 MAD</span>
                    </div>
                    <button onclick="window.location.href='Devis.html'" class="w-full bg-black text-white py-3 rounded-md hover:bg-gray-800 transition duration-200">Payer</button>                      
                </aside>
            </div>
            
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-white py-8 pt-16 border-t">
        <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8 text-center lg:text-left text-white">
            <!-- About Section -->
            <div class="w-full">
                <img src="../assets/media/Logo.png" alt="Logo" class="w-56 h-auto mx-auto sm:mx-0">
                <p class="text-gray-700 mt-2 text-sm px-8 lg:px-0">
                    GearBox PC est une boutique en ligne spécialisée dans les composants PC de qualité, offrant tout le nécessaire pour assembler, upgrader et optimiser votre ordinateur, avec des produits fiables et performants à prix compétitifs.
                </p>
                <div class="flex justify-center lg:justify-start space-x-4 mt-4 text-xl">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                            <path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                            <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                            <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
                        </svg>
                    </a>              
                </div>
            </div>            

            <!-- Support Section -->
            <div class="space-y-3 text-sm w-full lg:pl-16">
                <h3 class="font-semibold text-lg text-black">Support client</h3>
                <a href="#" class="block text-gray-700">Retours et garantie</a>
                <a href="#" class="block text-gray-700">Paiements</a>
                <a href="#" class="block text-gray-700">Livraison</a>
                <a href="#" class="block text-gray-700">Termes de service</a>
                <a href="#" class="block text-gray-700">Politique de confidentialité</a>
            </div>

            <!-- Contact Section -->
            <div class="w-full">
                <h3 class="font-semibold text-lg text-black">Besoin d'aide ?</h3>
                <p class="text-gray-700 mt-2 text-sm px-8 lg:px-0">
                    Notre équipe est là pour vous aider avec toutes vos questions concernant nos produits, services, et commandes. N'hésitez pas à nous contacter pour un support rapide et personnalisé.
                </p>                      
                <button class="bg-black text-white py-2 px-6 rounded-md mt-4">Contactez-nous</button>
            </div>
        </div>
        <br>
        <hr class="h-px my-8 bg-gray-300 border-0">
        <div class="text-center text-gray-700 mt-8">&copy; 2024 - Designed by <strong>CloudBlast</strong></div>
    </footer>
    <!-- EndOfFooter -->

    <script>
        function toggleCart() {
            const cartDropdown = document.getElementById('CartBar');
            cartDropdown.classList.toggle('translate-x-0');
            cartDropdown.classList.toggle('translate-x-full');
        }

        function toggleMenu() {
            const menuSidebar = document.getElementById('MenuSidebar');
            menuSidebar.classList.toggle('-translate-x-full');
        }
        // Fonction pour charger les produits du panier depuis le localStorage et afficher
        function displayCartItems() {
            let cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];

            // Get the containers for cart items
            const cartItemsContainer = document.getElementById("cartItemsContainer");
            const CartSidebarDiv = document.querySelector('.CartSidebarDiv');

            // Clear the containers before populating
            cartItemsContainer.innerHTML = "";
            CartSidebarDiv.innerHTML = "";

            if (cartItems.length === 0) {
                cartItemsContainer.innerHTML = "<p>Votre panier est vide.</p>";
                CartSidebarDiv.innerHTML = "<p class='text-gray-500'>Votre panier est vide.</p>";
                return;
            }

            // Loop through each cart item and update both containers
            cartItems.forEach(item => {
                // Update the main cart container
                const itemHTML = `
                    <div class="border-b rounded-lg bg-white shadow-lg p-4 mb-6 grid grid-cols-3 gap-2 items-center">
                        <div class="col-span-1">
                            <img src="${item.productImage}" alt="${item.productName}" class="w-full h-full object-cover max-h-56 md:max-h-64">
                        </div>
                        <div class="col-span-2 flex flex-col space-y-3 p-4">
                            <h3 class="text-base font-medium mb-3">${item.productName}</h3>
                            <p class="text-gray-600 text-sm">${item.shortDescription}</p>
                            <p class="text-lg font-semibold">${item.priceTotal} MAD</p>
                            <div class="flex justify-between items-center mt-4">
                                <div class="flex items-center space-x-2">
                                    <button aria-label="Decrease quantity" class="px-3 py-1 text-gray-500 border rounded-md hover:bg-gray-100" onclick="decreaseQuantity(${item.id}, ${item.availableQuantity}, ${item.quantity})">-</button>
                                    <input type="text" value="${item.quantity}" class="w-12 text-center border rounded-md" aria-label="Quantity" disabled>
                                    <button aria-label="Increase quantity" class="px-3 py-1 text-gray-500 border rounded-md hover:bg-gray-100" onclick="increaseQuantity(${item.id}, ${item.availableQuantity}, ${item.quantity})">+</button>
                                </div>
                                <p class="text-sm text-gray-500 mt-2">Quantité disponible : ${item.availableQuantity - item.quantity}</p>
                                <button class="text-red-500 text-xl hover:text-red-600 transition duration-150" title="Retirer" onclick="removeItem(${item.id})">&#128465;</button>
                            </div>
                        </div>
                    </div>
                `;
                cartItemsContainer.innerHTML += itemHTML;

                // Update the sidebar cart container
                const sidebarItemHTML = `
                    <div class="flex items-center space-x-4 border-b pb-4">
                        <img src="${item.productImage || 'https://via.placeholder.com/80'}" alt="${item.productName}" class="w-16 h-16 object-cover rounded">
                        <div class="flex-1">
                            <h4 class="font-bold text-gray-800">${item.productName}</h4>
                            <div class="flex justify-between items-center">
                                <p class="text-gray-600 text-sm">${item.priceTotal} MAD</p>
                                <button class="text-md" title="Remove" onclick="removeItem(${item.id})">&#128465;</button>
                            </div>
                        </div>
                    </div>
                `;
                CartSidebarDiv.innerHTML += sidebarItemHTML;
            });

            // Call the function to update the cart summary
            updateSummary();
        }
    
        // Fonction pour calculer le sous-total et afficher le résumé dans la div
        function updateSummary() {
            let cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
    
            let subTotal = 0;
            cartItems.forEach(item => {
                subTotal += parseFloat(item.priceTotal); // Somme des prix totaux des produits
            });
    
            const shippingCost = 21.30; // Frais de livraison fixes
            const totalEstimated = subTotal + shippingCost; // Total estimé = sous-total + frais de livraison
    
            // Mettre à jour l'affichage dans le résumé
            document.getElementById("subtotal").textContent = `${subTotal.toFixed(2)} MAD`;
            document.getElementById("shippingCost").textContent = `${shippingCost.toFixed(2)} MAD`;
            document.getElementById("totalEstimated").textContent = `${totalEstimated.toFixed(2)} MAD`;
        }
    
        // Fonction pour diminuer la quantité d'un produit dans le panier
        function decreaseQuantity(itemId, availableQuantity, currentQuantity) {
            let cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
            const itemIndex = cartItems.findIndex(item => item.id === itemId);
    
            if (itemIndex >= 0 && cartItems[itemIndex].quantity > 1) {
                // Diminuer la quantité
                cartItems[itemIndex].quantity--;
                cartItems[itemIndex].priceTotal = (cartItems[itemIndex].quantity * parseFloat(cartItems[itemIndex].unitPrice)).toFixed(2);
                localStorage.setItem("cartItems", JSON.stringify(cartItems));
                displayCartItems(); // Rafraîchir l'affichage
            }
        }
    
        // Fonction pour augmenter la quantité d'un produit dans le panier
        function increaseQuantity(itemId, availableQuantity, currentQuantity) {
            let cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
            const itemIndex = cartItems.findIndex(item => item.id === itemId);
    
            if (itemIndex >= 0) {
                // Vérifier si la quantité actuelle est inférieure à la quantité disponible
                if (currentQuantity < availableQuantity) {
                    cartItems[itemIndex].quantity++;
                    cartItems[itemIndex].priceTotal = (cartItems[itemIndex].quantity * parseFloat(cartItems[itemIndex].unitPrice)).toFixed(2);
                    localStorage.setItem("cartItems", JSON.stringify(cartItems));
                    displayCartItems(); // Rafraîchir l'affichage
                } else {
                    alert("Quantité maximale atteinte !");
                }
            }
        }
    
        // Fonction pour supprimer un produit du panier
        function removeItem(itemId) {
            let cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];
            const updatedCartItems = cartItems.filter(item => item.id !== itemId);
    
            localStorage.setItem("cartItems", JSON.stringify(updatedCartItems));
            displayCartItems(); // Rafraîchir l'affichage
        }
    
        // Fonction pour récupérer les données du produit depuis data.json
        function getProductData(productName) {
            return fetch('../data/data.json')
                .then(response => response.json())
                .then(data => {
                    const product = data.find(item => item.name === productName);
                    if (product) {
                        return product.qt; // Retourne la quantité du produit par son nom
                    } else {
                        console.error("Produit non trouvé");
                        return 0; // Retourner 0 si le produit n'est pas trouvé
                    }
                })
                .catch(error => {
                    console.error("Erreur lors de la récupération des données du produit:", error);
                    return 0; // Retourner 0 en cas d'erreur
                });
        }
    
        // Fonction pour charger les produits du panier au chargement de la page
        displayCartItems();
    </script>
    
    
</body>
</html>
